<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Manatee.Json" version="4.0.1" targetFramework="net45" />
  <package id="Manatee.StateMachine" version="1.1.2" targetFramework="net45" />
  <package id="Manatee.Trello" version="1.11.1" targetFramework="net45" />
  <package id="Manatee.Trello.ManateeJson" version="1.5.0" targetFramework="net45" />
  <package id="Manatee.Trello.RestSharp" version="1.2.1" targetFramework="net45" />
  <package id="ModernUI.WPF" version="1.0.9" targetFramework="net45" />
  <package id="NHotkey" version="1.2.1" targetFramework="net45" />
  <package id="NHotkey.Wpf" version="1.2.1" targetFramework="net45" />
  <package id="RestSharpSigned" version="105.2.3" targetFramework="net45" />
</packages>